{% extends 'home/main.html' %}
{% load static %}

{% block link__css %}
<link rel="stylesheet" href="{% static 'main/information.css' %}">
<link rel="stylesheet" href="{% static 'main/adaptive_CSS/information.css'%}">
{% endblock %}


{% block title__section %}

<div>
    <h1 class="header__main__title__news">Информация</h1>
</div>

{% endblock %}


{% block main_section %}

<section class="About_us">

    <div class="container">

        <article class="objectives_of_project">

            <h2 class="title_objectives_of_project">Цели <span>проекта</span></h2>

            <p class="text_objectives_of_project">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
                suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                viverra maecenas accumsan lacus vel facilisis.
            </p>

        </article>

        <div class="idea">

            <div class="idea_item">
                <h3 class="idea_title">Идея</h3>
                <div class="image_box_idea">

                    <img class="idea_img_person" src="#" alt="#">

                </div>
                <p class="person_name">Фамилия <span>Имя</span></p>
            </div>

        </div>

    </div>

</section>

{% endblock %}