.head__site {
    background: url(../img/sign_up_bg.jpg) no-repeat center top / cover;
    height: 400px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.Sign_up {
    padding: 100px
}

.title__sign__up {
    color: #252424;
    font-size: 41px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
}

.sign_up_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: #474444;
}

.sign_up_form input {
    margin: 10px 0;
    padding: 5px 10px;

    background: #e4e1e1;
    border:  none;
    border-radius: 3px;

    width: 350px;
    height: 30px;
}

#id_who_is {

    width: 150px;
    height: 30px;

    background: #e4e1e1;
    border: none;
    border-radius: 3px;
    color: #3f3f3f;

    font-weight: 600;
    font-size: 16px;

    margin: 5px 0 15px 0;
}

#id_who_is option {
    border-radius: 3px;

    padding: 5px;

    font-weight: 600;
    font-size: 16px;

    transition: all .2s;
}

.dtn_sign_up {
    margin: 20px 0;
    padding: 10px;

    width: 250px;
    height: 50px;

    background: #e44418;
    border: none;
    border-radius: 3px;

    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    color: #1b1b1b;

    cursor: pointer;
    transition: all .2s;
}

.dtn_sign_up:hover {
    background: #eb4b1f;
    color: #2e2d2d;

    transition: all .2s;
}

.link_sign_in {
    margin: 20px 0;
    padding: 10px;

    width: 230px;

    background: #e44418;
    border: none;
    border-radius: 3px;

    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    color: #1b1b1b;

    cursor: pointer;
    transition: all .2s;
}

.link_sign_in:hover {
    background: #eb4b1f;
    color: #2e2d2d;

    transition: all .2s;
}

/* link if the user has forgotten his password */

.forget_password {
    text-transform: lowercase;
    text-align: right;
    font-size: 16px;
}