.head__site {
    background: url(../img/sign_up_bg.jpg) no-repeat center top / cover;
    height: 400px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.Sign_up {
    padding: 100px
}

.title__sign__up {
    color: #252424;
    font-size: 41px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
}

/* .entry__form__sign__up {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
}

.title__sign__up {
    color: #252424;
    font-size: 41px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.entry__item {
    width: 770px;
    height: 30px;
    margin: 20px;
    padding: 5px;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1px;
    border: 2px solid #8f8f92;
    border-radius: 4px;
}

.btn__box__sign__up {
    margin-top: 20px;
    width: 770px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.dtn_sign_up {
    background: #da532c;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    font-size: 24px;
    width: 450px;
    height: 60px;
    border-radius: 4px;
    margin-top: 50px;
    cursor: pointer;
    transition: all .2s;

}

.dtn_sign_up:hover {
    background: #f06741;
    width: 460px;
    transition: all .2s;
}

.choos__who__is__description {
    color: #bdbcbc;
    font-size: 15px;
    margin-right: 10px;
    letter-spacing: 1px;
}

.who__is__choose {
    border: 2px solid #696262;
    background: #fff;
    margin-left: 15px;
    transition: all .2s;
} */


/* * {
    border: 1px solid red;
} */ 



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 23px;
}

form input {
    width: 400px;
    height: 25px;
    font-size: 22px;
    border: 2px solid #6b6969; 
    border-radius: 4px;
    padding: 5px;
    margin: 10px 0 30px 0;
    margin-bottom: 30px;
} 

#id_password1 {
    margin-bottom: -5px;
    place-content: 'pass#ord';
}

#id_password2 {
    margin-top: 30px;
    margin-bottom: -10px;

} 

.helptext ul li{
    width: 800px;
    font-size: 17px;
}





 /* #id_username {
    width: 200px;
    height: 20px;
    font-size: 19px;
    border: 2px solid #252424; 
    padding: 5px;
}

#id_last_name {
    width: 200px;
    height: 20px;
    font-size: 19px;
    border: 2px solid #252424; 
    padding: 5px;
}  */

.dtn_sign_up {
    background: #da532c;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    font-size: 19px;
    width: 270px;
    height: 60px;
    border-radius: 4px;
    margin-top: 50px;
    cursor: pointer;
    transition: all .2s;

}

.dtn_sign_up:hover {
    background: #f06741;
    width: 290px;
    transition: all .2s;
} 

.box__helper__sign__up {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lin_sign_in {
    background: #da532c;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    font-size: 19px;
    width: 270px;
    height: 60px;
    border-radius: 4px;
    margin-top: 50px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;


    transition: all .2s;
    
}

.lin_sign_in:hover {
    background: #f06741;
    width: 290px;
    transition: all .2s;
} 

#id_who_is {

    width: 200px;
    height: 30px;

    background: none;
    border: 2px solid #6b6969;
    border-radius: 3px;
    color: #3f3f3f;

    font-weight: 600;
    font-size: 16px;

    margin: 5px 0 15px 0;
}

#id_who_is option {
    border-radius: 3px;

    padding: 5px;

    font-weight: 600;
    font-size: 16px;

    transition: all .2s;
}
