{% extends 'home/main.html' %}
{% load static %}

{% block link__css %}
<link rel="stylesheet" href="{% static 'main/sign_up.css'%}">
<link rel="stylesheet" href="{% static 'main/adaptive_CSS/sign_in.css'%}">
{% endblock %}


{% block title__section %}
{% endblock %}


{% block main_section %}


<section class="Sign_up">

    <div class="container ">
        <h2 class="title__sign__up">Пароль изменен</h2>
    </div>

</section>

{% block for_scripts %}
<script src="{% static 'js/sign_in.js' %}" befer></script>
{% endblock %}

{% endblock %}
