{% extends 'home/main.html' %}
{% load static %}

{% block link__css %}
<link rel="stylesheet" href="{% static 'main/sign_up.css'%}">
<link rel="stylesheet" href="{% static 'main/adaptive_CSS/sign_in.css'%}">
{% endblock %}

{% block title_page %}
<title>Войти</title>
{% endblock %}

{% block title__section %}
{% endblock %}


{% block main_section %}


<section class="Sign_up">

    <div class="container ">
        <div class="box__helper__sign__up">
            <h2 class="title__sign__up">Вход на сайт</h2>
            <form class="sign_up_form" method="POST">
                {% csrf_token %}
                {{ form }}
                <a class="forget_password" href="{% url 'password_reset' %}">Забыли пароль</a>
                <button type="submit" class="dtn_sign_up">Войти</button>
                <a class="link_sign_in" href="{% url  'sign_up' %}">Зарегистрироваться</a>
            </form>
        </div>
    </div>

</section>

{% block for_scripts %}
<script src="{% static 'js/sign_in.js' %}" befer></script>
{% endblock %}

{% endblock %}
